# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
venv/
.venv/

# AWS SAM
.aws-sam/
samconfig.toml.bak

# Node
node_modules/
dist/
.vite/

# Environment
.env
.env.local
.env.production

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Project specific
policy.json
input.json
demo/

creds
